.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

h1 {
  color: #4CAF50;
}

.crypto-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.crypto-item h2 {
  margin: 0;
}

.crypto-item p {
  margin: 5px 0;
}
