*{
  background-color: rgb(133, 135, 135);
}

.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

h1 {
  color: #000000;
}


.crypto-item {
  border: 1px solid #000000;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(169, 101, 101, 0.1);
}

.crypto-item h2 {
  margin: 0;
}

.crypto-item p {
  margin: 5px 0;
}
